# Build-Verzeichnisse (Arduino / ESP)
build/
**/build/

# Arduino / ESP Build-Artefakte
*.bin
*.elf
*.map
*.hex

# Secrets
include/secrets.h
.vscode/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db